# Base requirements
-r requirements.txt

# =========================
# DEVELOPMENT / TESTING
# =========================
pytest==9.0.2
Faker==40.4.0
psycopg-pool==3.3.0

# =========================
# LINTING / FORMATTING
# =========================
ruff==0.9.10
ipython==9.0.1